* {
    margin: 0;
    padding: 0;
}

html, body, #game {
    width: 100%;
    height: 100%;
}

body {
    background: #0a0a0a;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game #game-screen {
    border: 1px solid greenyellow;
    box-shadow: 0 0 30px greenyellow;
    background: #000;
}